.weight-success{
    &-border{border-left:6px solid $success;}
    &-color{color:$success;}
    &-bg{background: $success;}
}

.weight-primary{
    &-border{border-left:6px solid $primary;}
    &-color{color:$primary;}
    &-bg{background: $primary;}
}

.weight-secondary{
    &-border{border-left:6px solid $secondary;}
    &-color{color:$secondary;}
    &-bg{background: $secondary;}
}

.weight-info{
    &-border{border-left:6px solid $info;}
    &-color{color:$info;}
    &-bg{background: $info;}
}

.weight-danger{
    &-border{border-left:6px solid $danger;}
    &-color{color:$danger;}
    &-bg{background: $danger;}
}