.container{
    max-width: 100%;
    height: 100vh;
    .header{
        background: $dark;
        padding: 70px 0;
        .wrap{
            max-width: 1000px;
            margin: 0 auto;
            display: $ds-flex;
            justify-content: $jc-between;
            align-items: $ai-center;
            .cal{
                display: $ds-flex;
                flex-direction: $fx-column;
                label{
                    color: $warming;
                    font-size: 18px;
                    margin-bottom: 7px;
                }
                input{
                    background: $dark-input;
                    border:2px solid $warming;
                    border-radius: 5px;
                    font-size: 24px;
                    color: #fff;
                    margin-bottom: 23px;
                    &::placeholder{
                        color: $light;
                    }
                }
            }
            .submite{
                background: $warming;
                font-size: 24px;
                cursor: pointer;
                &:hover{
                    box-shadow: 0px 1px 6px 3px $btn-hover;
                }
                &:active{
                    box-shadow: none;
                    background: $btn-active;
                }
            }
            .status{
                // display: $ds-flex;
                align-items: $ai-center;
                display: none;
                .status-border{
                    position: relative;
                    border:6px solid;
                    display: $ds-flex;
                    flex-direction: $fx-column;
                    justify-content: $jc-center;
                    align-items: $ai-center;
                    margin-right: 18px;
                    .BMI{
                        font-size: 32px;
                        // color: $success;
                        margin-bottom: 4px;
                    }
                    h5{
                        font-size: 14px;
                        // color: $success;
                    }
                    .change{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        // background: $success;
                        border-radius: 50%;
                        border:3px solid $dark;
                        display: $ds-flex;
                        justify-content: $jc-center;
                        align-items: $ai-center;
                        cursor: pointer;
                        transition: all .5s;
                        &:hover{
                            transform: rotate(360deg);
                        }
                    }
                }
                .status-Text{
                    // color: $success;
                    font-size: 32px;
                }
            }
        }
    }
    .btn{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 0;
    }
    .main{
        background: $main-bg;
        padding: 43px 0;
        text-align: center;
        .alert-Text{
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bolder;
            color: $danger;
        }
        h2{
            font-size: 24px;
            margin-bottom: 40px;
        }
        .clearAll{
            text-decoration: none;
            background: $warming;
            border:0;
            color: $danger;
            padding: 10px;
            margin-bottom: 20px;
            box-shadow: 3px 3px 3px 3px gray;
            &:active{
                box-shadow: 1px 1px 1px 1px gray;
            }
        }
        .statusItem{
            max-width: 1000px;
            margin: 0 auto;
            display: $ds-flex;
            justify-content: $jc-between;
            background: $light;
            align-items: $ai-center;
            padding: 21px 19px;
            // border-left:7px solid $success;
            margin-bottom: 16px;
            p{
                font-size: 20px;
            }
            h5{
                font-size: 12px;
                margin-right: 7px;
            }
            .ds-flex{
                display: $ds-flex;
                align-items: $ai-center;
            }
            .delete img{
                width: 30px;
            }
        }
    }
    .footer{
        background: $warming;
        padding: 20px 0;
        text-align: center;
    }
}


