*,*::after,*::before{
    box-sizing: border-box;
    font-family: bubble,'Microsoft JhengHei';
}

body,html{
    height: 100%;
    color: $primary-dark;
    background: $body-color;
}
img{
    display: block;
    max-width: 100%;
}

.wrap{
    max-width: 800px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100%;  
    .header{
        background: $primary-dark;
        .calcArea{
            padding: 70px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                display: block;
                background: url(../img/BMICLogo.png) no-repeat;
                background-position: center center;
                background-size: cover;
                overflow: hidden;
                width: 117px;
                height: 117px;
                
            }
            .calcInput{
                display: flex;
                flex-direction: column;
                max-width: 250px;
                label{
                    margin-bottom: 5px;
                    font-size: 1.1rem;
                    color: $primary-yellow;
                }
                input[type="text"]{
                    margin-bottom: 15px;
                    font-size: 1.5rem;
                    background: $secondary-dark;
                    color: #ffff;
                    border:2px solid $primary-yellow;
                    border-radius: 5px;
                }
                ::placeholder{
                    color: rgba(255,255,255,0.50);
                }
            }
        }
        .btn{
            border:0;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        .submitBtn{
            background: $primary-yellow;
            font-size: 1.5rem;
            color: $primary-dark;
            cursor: pointer;
            &:hover{
                box-shadow: 0 1px 6px 3px $primary-yellow;
            }
            &:active{
                box-shadow: none;
                background: $hover-yellow;
            }
        }
        .status{
            display: none;
            // display: flex;
            align-items: center;
            .statusPanel{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                border:6px solid;
                h3{
                    font-size: 2rem;
                }
                .refreshBtn{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border:3px solid $primary-dark;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 14px;
                        height: 19px;
                        transition: all .6s;
                    }
                    &:hover{
                        cursor: pointer;
                        img{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            .statusText{
                font-size: 2rem;
            }
        }
    }
    .index-main{
        padding-bottom: 95px;
        .calcList{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            .alertText{
                position: absolute;
                top: 15px;
                font-size: 1.25rem;
                color: $danger;
            }
            h2{
                font-size: 1.5rem;
                padding: 50px 0;
            }
            .delete{
                margin-bottom: 20px;
                text-decoration: none;
                background: $primary-yellow;
                color: $danger;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 3px 3px gray;
                &:active{
                    box-shadow: 1px 1px gray;
                }
            }
            .listPanel{
                width: 100%;
                .listItem{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #fff;
                    padding: 20px 5%;
                    margin-bottom: 10px;
                    .listStatus{
                        font-weight: bolder;
                        font-size: 1.25rem;
                    }
                    & > div{
                        display: flex;
                        align-items: center;
                        width: 15%;
                        h5{
                            font-size:.75rem;
                            margin-right: 5px;
                        }
                        p{
                            font-size: 1.25rem;
                            font-weight: bolder;
                        }
                    }
                    & > div:last-child{
                        width: 10%;
                    }
                    .listDelete{
                        display: block;
                        width: 100%;
                        img{
                            margin: 0 auto;
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    background: $primary-yellow;
    margin-top: -95px;
    padding: 20px;
    display: flex;
    justify-content: center;
}