
//color
$primary-dark:#424242;
$body-color:#efefef;
$primary-yellow: #FFD366;
$secondary-dark:rgba(255,255,255,0.18);
$hover-yellow:#DEA921;
$danger:#FF1200;

//bmi區間
$weight-success:#86D73F;
$weight-primary:#31BAF9;
$weight-warming:#FF982D;
$weight-info:#FF6C03;

//字體
@font-face{
    font-family: bubble;
    src: url(../font/jf-openhuninn-1.1.ttf);
}